---
title: Home
---

<h2>Recent Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>

<br /><br />
<h2>Info</h2>
<p class="h-card">
  <img class="u-photo" src="/images/zoglesby.png" alt="" /></br/>
  <a class="p-name u-url fn" href="https://zach.oglesby.co" rel="me">Zach Oglesby</a><br />
  <a class="u-key" href="/files/zach.asc">0xF20C4707</a><br />
  <a href="https://keybase.io/zoglesby" rel="me">Keybase Account</a>
</p>
