<article class="h-entry">
<h2 class="p-name">$title$</h2><a class="u-url" href="$url$"></a>
<div class="info">
    Posted on <time class="dt-published" datetime='$date$'> $date$ </time>
    $if(author)$
        by <a class="p-author h-card" href="https://zach.oglesby.co">$author$</a>
    $endif$<br />
    $if(tags)$
    Tags: $tags$
    $endif$
</div>
<br />

<div class="e-content">
$body$
</div>


<script id="webmention-hosted">
(function () {
var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
url = url && url[0] ? url[0].href : false;
sn.type = "text/javascript"; sn.async = true;
sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
s.parentNode.insertBefore(sn, s);
}());
</script>
</article>
